# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Book PDF (copyrighted)
*.pdf

# Diagrams (generated)
chapter3/generated-diagrams/
